---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=TH6J6mpSiThPiGviAqDI9yqHTwFZXVGz&location=Denver,CO&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 05:36:57 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=TH6J6mpSiThPiGviAqDI9yqHTwFZXVGz&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1207162677"}]}]}'
  recorded_at: Wed, 11 Aug 2021 05:36:57 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=88b0ba01ed613a20fffee8268d03ea57&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628660217,"sunrise":1628597261,"sunset":1628647376,"temp":73.54,"feels_like":72.01,"pressure":1006,"humidity":30,"dew_point":40.24,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":5.01,"wind_deg":268,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1628658000,"temp":75.24,"feels_like":73.72,"pressure":1007,"humidity":27,"dew_point":39,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":3.91,"wind_deg":234,"wind_gust":5.46,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1628661600,"temp":73.54,"feels_like":72.01,"pressure":1006,"humidity":30,"dew_point":40.24,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":5.23,"wind_deg":239,"wind_gust":8.03,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1628665200,"temp":74.41,"feels_like":72.86,"pressure":1007,"humidity":28,"dew_point":39.22,"uvi":0,"clouds":39,"visibility":10000,"wind_speed":5.73,"wind_deg":218,"wind_gust":8.68,"weather":[{"id":802,"m[...]
