---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UYt3rw8cJDWnFmmqoHp2oSkLnlZ0PYvLdCiAK3FgeLc&query=bailey,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fb94c26e1188f8bfd8f383effb529b8"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ysh2TXQZw1A","created_at":"2020-11-05T03:54:55-05:00","updated_at":"2021-08-10T23:22:21-04:00","promoted_at":null,"width":4016,"height":6016,"color":"#f3f3f3","blur_hash":"L+Kx9wWCaxof~qa}fQj[xvWBazay","description":null,"alt_description":"white
        and black concrete building near green tree under white clouds during daytime","urls":{"raw":"https://images.unsplash.com/photo-1604566285363-85fd6a53f409?ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NjE5NDk\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1604566285363-85fd6a53f409?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NjE5NDk\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1604566285363-85fd6a53f409?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NjE5NDk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1604566285363-85fd6a53f409?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NjE5NDk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1604566285363-85fd6a53f409?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NjE5NDk\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/ysh2TXQZw1A","html":"https://unsplash.com/photos/ysh2TXQZw1A","download":"https://unsplash.com/photos/ysh2TXQZw1A/download","download_location":"https://api.unsplash.com/photos/ysh2TXQZw1A/download?ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NjE5NDk"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"0FzypGwlZgQ","updated_at":"2021-06-30T12:24:08-04:00","username":"yeleannaes","name":"Anna
        Seeley","first_name":"Anna","last_name":"Seeley","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/yeleannaes","html":"https://unsplash.com/@yeleannaes","photos":"https://api.unsplash.com/users/yeleannaes/photos","likes":"https://api.unsplash.com/users/yeleannaes/likes","portfolio":"https://api.unsplash.com/users/yeleannaes/portfolio","following":"https://api.unsplash.com/users/yeleannaes/following","followers":"https://api.unsplash.com/users/yeleannaes/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1601536361664-19188a77973dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1601536361664-19188a77973dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1601536361664-19188a77973dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"i.amseeley","total_collections":0,"total_likes":1,"total_photos":14,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"i.amseeley","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D750","exposure_time":"1/4000","aperture":"3.2","focal_length":"50.0","iso":1000},"location":{"title":"Colorado
        Springs, CO, USA","name":"Colorado Springs, CO, USA","city":"Colorado Springs","country":"United
        States","position":{"latitude":38.833882,"longitude":-104.821363}},"views":60295,"downloads":74}'
  recorded_at: Wed, 11 Aug 2021 06:05:49 GMT
recorded_with: VCR 6.0.0
