---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UYt3rw8cJDWnFmmqoHp2oSkLnlZ0PYvLdCiAK3FgeLc&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"468aea751a1d365f7e3a6f5124044fd4"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"Z1wDwh4jgaA","created_at":"2021-01-11T19:23:07-05:00","updated_at":"2021-08-10T20:26:30-04:00","promoted_at":null,"width":3712,"height":5568,"color":"#a6a6a6","blur_hash":"LVEC@5M{%Mt7~pM_WBt7.8ofWBaz","description":"INSTAGRAM:
        SARRAMPHOTOGRAPHY","alt_description":"man in black and white hoodie","urls":{"raw":"https://images.unsplash.com/photo-1610410544107-a5685c223419?ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1610410544107-a5685c223419?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1610410544107-a5685c223419?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1610410544107-a5685c223419?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1610410544107-a5685c223419?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/Z1wDwh4jgaA","html":"https://unsplash.com/photos/Z1wDwh4jgaA","download":"https://unsplash.com/photos/Z1wDwh4jgaA/download","download_location":"https://api.unsplash.com/photos/Z1wDwh4jgaA/download?ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDQ"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"7vaZ99fSB5o","updated_at":"2021-08-10T14:55:09-04:00","username":"nima_sarram","name":"Nima
        Sarram","first_name":"Nima","last_name":"Sarram","twitter_username":null,"portfolio_url":null,"bio":"INSTAGRAM:
        SARRAMPHOTOGRAPHY\r\nBased out of Denver Colorado","location":"Denver, Co","links":{"self":"https://api.unsplash.com/users/nima_sarram","html":"https://unsplash.com/@nima_sarram","photos":"https://api.unsplash.com/users/nima_sarram/photos","likes":"https://api.unsplash.com/users/nima_sarram/likes","portfolio":"https://api.unsplash.com/users/nima_sarram/portfolio","following":"https://api.unsplash.com/users/nima_sarram/following","followers":"https://api.unsplash.com/users/nima_sarram/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"sarramphotography","total_collections":15,"total_likes":21,"total_photos":236,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"sarramphotography","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D7500","exposure_time":"1/500","aperture":"1.4","focal_length":"50.0","iso":50},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":24129,"downloads":172}'
  recorded_at: Wed, 11 Aug 2021 05:31:44 GMT
recorded_with: VCR 6.0.0
