---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=88b0ba01ed613a20fffee8268d03ea57&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628659905,"sunrise":1628597262,"sunset":1628647378,"temp":73.87,"feels_like":72.36,"pressure":1006,"humidity":30,"dew_point":40.53,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":5.01,"wind_deg":268,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1628658000,"temp":75.58,"feels_like":74.1,"pressure":1007,"humidity":27,"dew_point":39.29,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":4,"wind_deg":238,"wind_gust":5.26,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1628661600,"temp":73.87,"feels_like":72.36,"pressure":1006,"humidity":30,"dew_point":40.53,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":5.19,"wind_deg":242,"wind_gust":7.94,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1628665200,"temp":74.77,"feels_like":73.26,"pressure":1007,"humidity":28,"dew_point":39.52,"uvi":0,"clouds":38,"visibility":10000,"wind_speed":5.61,"wind_deg":218,"wind_gust":8.55,"weather":[{"id":802,"m[...]
