---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=88b0ba01ed613a20fffee8268d03ea57&exclude=minutely,alerts&lat=39.742043&lon=-104.991531&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.742,"lon":-104.9915,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628559752,"sunrise":1628510805,"sunset":1628561052,"temp":84.69,"feels_like":81.79,"pressure":1005,"humidity":20,"dew_point":39.22,"uvi":0,"clouds":33,"visibility":10000,"wind_speed":1.01,"wind_deg":281,"wind_gust":10,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1628557200,"temp":85.48,"feels_like":82.33,"pressure":1005,"humidity":18,"dew_point":37.18,"uvi":0.24,"clouds":28,"visibility":10000,"wind_speed":10.83,"wind_deg":180,"wind_gust":11.95,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628560800,"temp":84.69,"feels_like":81.79,"pressure":1005,"humidity":20,"dew_point":39.22,"uvi":0,"clouds":33,"visibility":10000,"wind_speed":5.86,"wind_deg":122,"wind_gust":10.25,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628564400,"temp":84.49,"feels_like":81.61,"pressure":1006,"humidity":19,"dew_point":37.76,"uvi":0,"clouds":32,"visibility":10000,"wind_speed":3.09,"wind_deg":140,"wind_gust":4.7,"weather":[{"id":802,"m[...]
