---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UYt3rw8cJDWnFmmqoHp2oSkLnlZ0PYvLdCiAK3FgeLc&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0528ed228bc36146925b3f6bbfd66a7"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"4J6AcyZCdk4","created_at":"2021-02-23T00:32:50-05:00","updated_at":"2021-08-10T23:25:28-04:00","promoted_at":null,"width":3869,"height":4836,"color":"#404040","blur_hash":"LaF={%M{00t7t7Rjj[t79Fay%May","description":"Slim
        Alley + Downtown Denver","alt_description":"grayscale photo of city buildings","urls":{"raw":"https://images.unsplash.com/photo-1614057695473-108bafc8d791?ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDE\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1614057695473-108bafc8d791?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDE\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1614057695473-108bafc8d791?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1614057695473-108bafc8d791?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1614057695473-108bafc8d791?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/4J6AcyZCdk4","html":"https://unsplash.com/photos/4J6AcyZCdk4","download":"https://unsplash.com/photos/4J6AcyZCdk4/download","download_location":"https://api.unsplash.com/photos/4J6AcyZCdk4/download?ixid=MnwyNTIyNzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Mjg2NTk5MDE"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"gVqrdOZxG4E","updated_at":"2021-08-11T00:30:36-04:00","username":"frankielopez","name":"Frankie
        Lopez","first_name":"Frankie","last_name":"Lopez","twitter_username":null,"portfolio_url":"https://www.stubborn5.com","bio":"i
        really have no idea what i''m doing *** just point and shoot","location":"Tucson,
        AZ","links":{"self":"https://api.unsplash.com/users/frankielopez","html":"https://unsplash.com/@frankielopez","photos":"https://api.unsplash.com/users/frankielopez/photos","likes":"https://api.unsplash.com/users/frankielopez/likes","portfolio":"https://api.unsplash.com/users/frankielopez/portfolio","following":"https://api.unsplash.com/users/frankielopez/following","followers":"https://api.unsplash.com/users/frankielopez/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1553406943088-6ada29d5b52a?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"stubborn5design/","total_collections":0,"total_likes":110,"total_photos":159,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"stubborn5design/","portfolio_url":"https://www.stubborn5.com","twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"Canon
        EOS 6D Mark II","exposure_time":"1/640","aperture":"8.0","focal_length":"24.0","iso":500},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":17796,"downloads":165}'
  recorded_at: Wed, 11 Aug 2021 05:31:41 GMT
recorded_with: VCR 6.0.0
