---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=TH6J6mpSiThPiGviAqDI9yqHTwFZXVGz&location=bailey,co&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 05:49:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"bailey,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bailey","adminArea5Type":"City","adminArea4":"Park
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282925743","unknownInput":"","type":"s","latLng":{"lat":39.405602,"lng":-105.472801},"displayLatLng":{"lat":39.405602,"lng":-105.472801},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=TH6J6mpSiThPiGviAqDI9yqHTwFZXVGz&type=map&size=225,160&locations=39.405602,-105.472801|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1659334261"}]}]}'
  recorded_at: Wed, 11 Aug 2021 05:49:15 GMT
recorded_with: VCR 6.0.0
